@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700;900&display=swap");

body {
  font-family: "Rubik", sans-serif;
}
.navbar {
  background: transparent !important;
}
.navbar a {
  color: #cacaca !important;
}
.home {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/home.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
}
li {
  margin-right: 30px;
}
h1 {
  font-size: 50px;
}
.hero-text {
  color: #cacaca;
  text-align: center;
  margin-top: 200px;
}
.hero-text a {
  margin: 10px;
  color: #cacaca;
  font-size: 20px;
}
.project .card {
  padding: 10px !important;
  cursor: pointer;
  box-shadow: 4px 4px 4px silver;
}
.project .card a {
  color: #000;
  text-decoration: none;
}
.project .card i {
  font-size: 40px;
}
.project .card:hover {
  background: #1c1f23;
  transition: 0.5s;
}
.project .card:hover p,
.card:hover i,
.card:hover h3,
.card:hover a {
  color: #f8f9fa;
}

.contact i {
  margin-right: 20px;
}
